.git/
.*.sw[op]
.metadata
.yardoc
.yardwarns
*.iml
/.bundle/
/.idea/
/.vagrant/
/coverage/
/bin/
/doc/
/Gemfile
/Gemfile.local
/Gemfile.lock
/junit/
/log/
/pkg/
/spec/fixtures/manifests/
/spec/fixtures/modules/
/tmp/
/vendor/
/convert_report.txt
/update_report.txt
.DS_Store
.project
.envrc
/inventory.yaml
Puppetfile
Puppetfile.lock
Puppetfile.prod
modules.rb
.puppet-lint.rc
Rakefile
.rubocop.yml
.librarian/
.tmp/
.vscode/
*.code-workspace
